@import url('iea.css');

/* Delete everything */
div { display: none; }
table.plaintable{ display: none; }
a#add-to-google { display: none; }
.warningtext { display: none; }
body { background: none; }
a { display: none; }
form { display: none; }
thead span { display: none; }
.iea-cal-nav { display: none; }

/* Show the schedule */
#iea-schedule { display: block !important; }
div.pagebodydiv { display: block; }
div.pagebodydiv table div { display: block; }

#doPrint { display: block; margin-top: 10px; color: blue; background-image: url('http://pangolin.sktsoft.com/uiuc/images/print.png'); background-repeat: no-repeat; text-indent: 30px; }
#doBack { display: block; margin-bottom: 10px; color: blue; }
