@import url('iea.css');

/* Delete everything */
div{ display: none }
table.plaintable{ display: none; }
a#add-to-google { display: none; }
.warningtext { display: none; }
body { background: transparent; }
a { display: none; }
form { display: none; }
ul { display: none; }

#doPrint { display: block; }
#doBack { display: block; }

/* Show textbook list */
div#textbooks-page { display: block !important; }
div#textbooks-page a { display: inline; }
div#textbooks-page ul { display: block; }
li { list-style: none; }
img { border: 0; }
